@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

.top-left {
  position: absolute;
  top: 4px;
  left: 8px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.avatar {
  background-image: url("../images/cool-hike.png");
  background-color: #cccccc;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.avatar .socials-wrapper {
  display: flex;
}
.avatar .socials {
  width: 50px;
  transition: all 150ms ease;
}
.avatar .socials:hover {
  width: 55px;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: #fcf2e5;
  color: #161616;
  display: flex;
  min-height: 100vh;
}

.accordion {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.accordion .accordion-item {
  transition: transform 100ms ease;
  border-bottom: 1px solid #7e7d56;
}
.accordion .accordion-item:hover {
  border-bottom: 1px solid #000000;
  transform: scale(1.01);
}
.accordion .accordion-item:has(button[aria-expanded=true]) {
  border-bottom: 1px solid #000000;
  transform: scale(1.01);
}
.accordion .accordion-item button {
  transition: color 200ms linear;
}
.accordion .accordion-item button[aria-expanded=false] {
  border-bottom: 0px solid #000000;
  transition: border-bottom 0s linear 200ms;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7e7d56;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:active {
  cursor: pointer;
  color: #000000;
}
.accordion button:hover .icon, .accordion button:active .icon {
  fill: #000000;
}
.accordion button:hover::after, .accordion button:active::after {
  cursor: pointer;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 22px;
  right: 10px;
  width: 15px;
  height: 15px;
  fill: #7e7d56;
  transition: all 200ms ease;
}
.accordion button[aria-expanded=true] {
  color: #000000;
  border-bottom: 1px solid #000000;
  transition: all 200ms ease;
  transition: border-bottom 0s;
}
.accordion button[aria-expanded=true] .icon {
  transform: rotate(45deg);
  transition: all 200ms ease;
  fill: #000000;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 90em;
  transition: all 600ms ease;
}
.accordion .accordion-content {
  opacity: 0.5;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms ease, max-height 200ms ease;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.accordion .accordion-content .image-grid {
  margin: 8px;
  overflow-y: visible;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 15px;
  grid-auto-flow: dense;
}
.accordion .accordion-content .image-grid * {
  box-sizing: border-box;
}
.accordion .accordion-content .image-grid > div {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
.accordion .accordion-content .image-grid > div:hover, .accordion .accordion-content .image-grid > div:hover img {
  transform: scale(1.05);
}
.accordion .accordion-content .image-grid > div img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
.accordion .accordion-content .image-grid .vertical {
  grid-row: span 2;
}
.accordion .accordion-content .image-grid .horizontal {
  grid-column: span 2;
}
.accordion .accordion-content .image-grid .big {
  grid-row: span 2;
  grid-column: span 2;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

/*# sourceMappingURL=style.css.map */
